<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/main.css"/>
  <link rel="stylesheet" href="css/angular2.css"/>
  <link rel="stylesheet" type="text/css" href="css/angular.css"/>
  <link rel="stylesheet" href="css/vendor/foundation.min.css"/>
</head>
<body>
<div id="main" ng-app>
    <nav class="{{active}}" >
        <a href="#/app/view1" ng-click="active='home'" class="home">Home</a>
        <a href="#/view2" ng-click="active='projects'" class="projects">NG Binding</a>
        <a href="#/view3" ng-click="active='services'" class="services">Adrian Example</a>
        <a href="#/view4" ng-click="active='contact'" class="contact">Bonnie</a>
        <a href="#/view5" ng-click="active='newContact'" class="newContact">Shopping Cart</a>
    </nav>

  <div ng-view></div>
  <script src="js/angular.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="../js/vendor/jquery-ui-1.10.4.custom.js"></script>
  <script src="js/controller.js"></script>
    <script src = "js/vendor/jquery.js"></script>
  <script src="js/app.js"></script>

    <script src="js/vendor/ui-utils.js"></script>
    <script src="../js/vendor/jui.js"></script>

    </div>
</body>
</html>
